<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>add Questionnaire</title>
</head>
<body>
<form  th:object="${from}" method="POST" action ="/Questionnaire/add-Ques">
	      
<div class="form-group">
<label th:for="QuestionsId"  >Questions</label>
<select name="QuestionsId">
<option th:each="Questions: *{Questions}"
         th:text="${Questions.libelle}"
         th:value="${Questions.id_question}"></option>
</select>

</div>


<input type="hidden" name="QuestionnaireId" />
<input type="submit" value="Add Ouestions">
</form>
</body>
</html>