<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Add Personnels</title>
</head>
<body>
<form th:action="@{/Personnels/save}" th:object="${Personnels}" method="POST">
<p>nom<input type="text" th:field="*{nom_personnel}"/><span 
th:errors="*{nom_personnel}"/></p>
<p>prenom_personnel<input type="text" th:field="*{prenom_personnel}"/><span 
th:errors="*{prenom_personnel}"/></p>


<p>email_personnel<input type="mail" th:field="*{email_personnel}"/><span 
th:errors="*{email_personnel}"/></p>

<p>login<input type="text" th:field="*{login_personnel}"/><span 
th:errors="*{login_personnel}"/></p>

<p>mot de pass<input type="text" th:field="*{pass_personnel}"/><span 
th:errors="*{pass_personnel}"/></p>
 <p>fonction<input type="text" th:field="*{fonction}"/><span 
   th:errors="*{fonction}"/></p>

<p><input type="submit" value="save"/></p>
</form>
</body>
</html>




