<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Update Client</title>
</head>
<body>
<form th:action="@{/Personnels/modifier}" th:object="${Personnels}" method="POST">

<p> Id_Personnels <input type="text" th:field="*{id_personnel}"/> <span th:errors="*{id_personnel}"/> </p>
<p> nom_personnel <input type="text" th:field="*{nom_personnel}"/> <span th:errors="*{nom_personnel}"/> </p>
<p> prenom_personnel <input type="text" th:field="*{prenom_personnel}"/> <span th:errors="*{prenom_personnel}"/> </p>
<p> email_personnel <input type="text" th:field="*{email_personnel}"/> <span th:errors="*{email_personnel}"/> </p>
<p> login_personnel <input type="text" th:field="*{login_personnel}"/> <span th:errors="*{login_personnel}"/> </p>



<p> <input type="submit" value="Update"/> <p>
</form>
</body>
</html>