<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Liste des Personnels</title>
</head>
<body>
<table> 


<tr>
	<th>id_personnel</th><th>nom_personnel</th><th>prenom_personnel</th> <th>email_personnel</th> <th>login_personnel</th>  <th>fonction</th></tr>
	<tr th:each="c:${Personnels}">
	<td th:text="${c.id_personnel}"/>
	<td th:text="${c.nom_personnel}"/>
	<td th:text="${c.prenom_personnel}"/> 
	<td th:text="${c.email_personnel}"/> 
	<td th:text="${c.login_personnel}"/> 
<td th:text="${c.fonction}"/> 
	<td>
		<a th:href="@{/Personnels/update(num=${c.id_personnel})}"th:text="Modifier"/>
	</td>
	<td>
		<a th:href="@{/Personnels/delete(num=${c.id_personnel})}" th:text="Supprimer"/>
	</td>
	</tr>
</table>
</body>
</html>