

<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link href="../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
</head>
<body>
	
<form th:action="@{/User/{id}/Reponses(id=${User.id_User})}" method="get" enctype="multipart/form-data" >
	
	
		 
	<div id="outer">
		 	<div id="header">
			Nom: <b th:text="${User.nom_User}" /> <br/>
			</div>

  
    
		<div id="lpane">
			
	    </div>
			
		<div id="rpane">
			
			
	<table> 
      <tr>
	 <th>Titre</th> <th> liste des question</th><th></th></tr>
	   <tr th:each="Questionnaire : ${Questionnaires}" >
	   
	   
	   <td th:text="${Questionnaire.titre}"/>
	   <Td>
	   
	   
	   <table>
	   <tr ><th>Questions</th></tr>
	   <tr th:each="Questions :${Questionnaire.Questionss}">
	 
	
	   <td th:text="${Questions.libelle}"/>
	    
	   <td>
	    <table>
	     <tr><th></th><th>Reponses</th></tr>
	    <tr th:each="Choixreponse :${Questions.Choixreponse}">
	    
	    
	   <td> <input class="form-control" type="checkbox" name="ReponseId" th:value="${Choixreponse.id_choix}">
	  
	    <P th:text="${Choixreponse.choix}"/>
	   </td>
	     </tr>
	     
	     
	  
	   </table>
	   </td>
	   
	   </tr>
		
	 
	 
	 </table>
	   
	   
	   </Td>
	   </tr>
	 
</table>
			
			

			 

  
			<input type="submit" class="btn btn-success" value="envoiyer"/>
  </div>
</div>


</form>

</body>
</html>